<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Personal Portfolio Website</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../staticFiles/style.css') }}">
    </head>
    <body>
                 
        <nav>
            <div class="container">   
                <a href="{{url_for('index')}}"><img src="../staticFiles/Images/Icons/RBBlogo.svg" class="logo"></a>
                <ul id="sidemenu">
                    <img class="closemenu" src="../staticFiles/Images/Icons/close_white_24dp.svg" onclick="closemenu()">
                    <li><a href="http://127.0.0.1:5000/#home">Home</a></li>
                    <li><a href="http://127.0.0.1:5000/#about">About</a></li>
                    <li><a href="http://127.0.0.1:5000/#services">Services</a></li>
                    <li><a href="http://127.0.0.1:5000/#portfolio">Portfolio</a></li>
                    <li><a href="http://127.0.0.1:5000/#contact">Contact</a></li>
                </ul>
                <img class="openmenu" src="../staticFiles/Images/Icons/menu_white_24dp.svg" onclick="openmenu()">
            </div>
        </nav>
        

        {% block content %}
        {% endblock %}


        <!-- Contact -->
        <div id="contact">
            <div class="container">
                <div class="row">
                    <div class="contact-left">
                        <h1 class="sub-title">Contact Me</h1>
                        <p><img src="../staticFiles/Images/Icons/send_white_24dp.svg"><a href="mailto:ReneBloch@brandbyge.com">ReneBloch@brandbyge.com</a></p>
                        <p> <img src="../staticFiles/Images/Icons/call_white_24dp.svg"><a href="tel:+447466699422">+44 74 6669 9422</a></p>
                        <div class="social-icons">
                            <a href="https://www.linkedin.com/in/rene-bloch-brandbyge/" target="_blank"><img src="../staticFiles/Images/Icons/linkedin.svg"></a>
                        </div>
                        <a href="../staticFiles/2023.05-CV_RBB.pdf" download="2023.05-CV_RBB" class="btn btn2">Download CV</a>
                    </div>
                    <div class="contact-right">
                        <input type="text" name="Name" placeholder="Your Name" required>
                        <input type="email" name="Email" placeholder="Your Email" required>
                        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                        <button type="submit" class="btn btn2">Submit</button>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © Rene Brandbyge</p>
            </div>
        </div>



    </body>
</html>