<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rene Bloch Brandbyge</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../staticFiles/style.css') }}">
        <script src="{{ API_KEY }}"></script>
        <link rel="icon" type="image/svg+xml" href="../staticFiles/Images/Icons/favicon.svg">
        <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    </head>
    <body>
                 
        <nav>
            <div class="container">   
                <a href="{{url_for('index')}}"><img src="../staticFiles/Images/Icons/RBBlogo.svg" class="logo"></a>
                <ul id="sidemenu">
                    <img class="closemenu" src="../staticFiles/Images/Icons/close_white_24dp.svg" onclick="closemenu()">
                    <li><a href="/">Home</a></li>
                    <li><a href="/#about">About</a></li>
                    <li><a href="/#services">Services</a></li>
                    <li><a href="/#portfolio">Portfolio</a></li>
                    <li><a href="contact">Contact Form</a></li>
                </ul>
                <img class="openmenu" src="../staticFiles/Images/Icons/menu_white_24dp.svg" onclick="openmenu()">
            </div>
        </nav>
        

        {% block content %}
        {% endblock %}

        <div id="contact">
            <div class="container">
                <h1 class="sub-title">Contact Me</h1>
                    <br>
                    <p>If you are interested to know more, do not hesitate to contact me via the contact form, visit my LinkedIn or download my latest resume.</p>
                    <br>
                    <div class="social-icons">
                        <a href="https://www.linkedin.com/in/rene-bloch-brandbyge/" target="_blank"><img src="../staticFiles/Images/Icons/linkedin.svg"></a>
                    </div>
                <div class="row">
                    <div class="contact-left">                        
                        <a href="contact" class="btn btn2">Contact Form</a>
                    </div>
                        <div class="contact-right">
                        <a href="../staticFiles/2023.05-CV_RBB.pdf" download="2023.05-CV_RBB" class="btn btn2">Download CV</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p> Website design by Rene Bloch Brandbyge</p>
            </div>
        </div>


        <!-- Replace the variables below. -->
        <script>
            function onSubmit(token) {
            document.getElementById("submit-form").submit();
            }
        </script>
    </body>
</html>