{% extends 'base.html' %}
{% block content %}

<div id="blank">   
    <div class="container"></div>        
</div>

 <!-- About section -->
 <div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="../staticFiles/Images/projects/bscthesis.jpg">
            </div>
            <div class="about-col-2">
                <h2 class="subsub-title">Motor and inverter test setup for a Formula Student Race Car</h2>
                <p>
                    The purpose of this project was to create a platform/test-bench setup for motor control using the
                    dSPACE device MicroLabBox. <br>
                    The project covered design and decisions made selecting hardware, 
                    keeping safery regulations in terms of the Danish Standards in mind. The project was carried out 
                    in collaboration with SDU-Vikings Racing team and University of Southern Denmark, with setup simulated and tested.
                </p><br>
                <p>
                    A focus of the project was to ease the inrtroduction of dSPACE and control of the motor in order 
                    to optimise and implement control methods presented in the project.
                <!-- </p><br>
                <p>
                    Throughout the report, wide variety of software tools, for calculation, simulations, 
                    layouts, graphs and other visualisations, are used in order to optimise the setup. The
                    hardware design is finished throughout the report alongside with the control algorithms.
                </p> -->
            </div>
            <div class="process-list">
                <div class="process">
                    <img src="../staticFiles/Images/projects/BscBlock.png">
                </div>
                <div class="process">
                    <img src="../staticFiles/Images/projects/BscFOC.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">{{ hdrs[2] }}</h1>
        <div class="work-list">
            {% for i in range(0, project_len) %}
                <div class="work">
                    <img src="{{project['url'][i]}}">
                    <div class="layer">
                        <h3>{{ project["head"][i] }}</h3>
                        <p>{{project["desc"][i]}}</p>
                        <a href="{{url_for(project['link'][i])}}"><img src="../staticFiles/Images/Icons/link_white_24dp.svg"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="#" class="btn">See more</a>
    </div>
</div>

{% endblock %}