{% extends 'base.html' %}
{% block content %}

<div id="blank">   
    <div class="container"></div>        
</div>

 <!-- About section -->
 <div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="../staticFiles/Images/projects/bscthesis.jpg">
            </div>
            <div class="about-col-2">
                <h2 class="subsub-title">Motor and inverter test setup for a Formula Student Race Car</h2>
                <p>
                    The purpose of this project is to create a platform/test-bench setup for motor control via the
                    dSPACE device MicroLabBox. This report will cover the design and choices of pieces of hardware, 
                    keeping safery regulations in terms of the Danish Standards in mind. In collaboration
                    with SDU-Vikings Racing team and SDU, hardware will be simulated, set up and tested. 
                </p><br>
                <p>
                    For control in dSPACE, the theory of controlling a motor will be presented, such that the reader
                    will, after reading this report, be able to create and optimise the software and control methods
                    used in this report. 
                </p><br>
                <p>
                    Throughout the report, wide variety of software tools, for calculation, simulations, 
                    layouts, graphs and other visualisations, are used in order to optimise the setup. The
                    hardware design is finished throughout the report alongside with the control algorithms.
                </p>
            </div>
            <div class="process-list">
                <div class="process">
                    <img src="../staticFiles/Images/projects/BscBlock.png">
                </div>
                <div class="process">
                    <img src="../staticFiles/Images/projects/BscFOC.png">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">{{ hdrs[2] }}</h1>
        <div class="work-list">
            {% for i in range(0, project_len) %}
                <div class="work">
                    <img src="{{project['url'][i]}}">
                    <div class="layer">
                        <h3>{{ project["head"][i] }}</h3>
                        <p>{{project["desc"][i]}}</p>
                        <a href="{{url_for(project['link'][i])}}"><img src="../staticFiles/Images/Icons/link_white_24dp.svg"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="#" class="btn">See more</a>
    </div>
</div>

{% endblock %}