{% extends 'base.html' %}
{% block content %}

<div id="blank">   
    <div class="container"></div>        
</div>

<div class="container">
    <h1>HW-Design</h1><br>
    <p>I specialize in designing high-efficiency converters, encompassing schematic development, layout design, and comprehensive validation. 
        From conceptualization to final implementation and testing, I ensure meticulous attention to detail throughout the entire process.</p> <br>
    <p><br>
</div>

<div class="container">
    <h2>Power Electronics Design</h2><br>
    <p>
        Power Electronics Design represents the sophisticated discipline of developing systems like DC-DC converters, isolated DC-DC converters, 
        and inverters. These systems are fundamental in various applications, from renewable energy systems to electric vehicles and industrial automation. 
        Central to this field is the pursuit of high efficiency and precise control of power converters.
    </p><br>
    <p>
        DC-DC converters play a pivotal role in modern electronic devices, converting one voltage level to another efficiently. Isolated DC-DC converters, 
        ensuring electrical isolation between input and output, find extensive use in critical applications where large steps of voltage, safety and reliability 
        are required, such as aerospace systems and electric powertrains.
    </p><br>
    <p>
        Inverters, meanwhile, are indispensable in converting DC power from sources like batteries or solar panels into AC power for electric motors, generators, 
        and household appliances. Achieving high efficiency in these converters is imperative to minimize power losses, optimise the system performance 
        and reduce the overall size.
    </p><br>
    <p>
        Correct control of power electronics is essential for optimising system performance. 
        Diffent control strategies such as soft-switching and resonant control can reduce losses and EMI significantly of a converter.
        Effective control maximizes energy conversion efficiency and facilitates the integration of renewable energy sources. 
    </p><br>
    <p>
        Overall, the realm of Power Electronics Design is characterized by its focus on efficiency, reliability, and advanced control techniques, shaping the 
        landscape of modern energy systems and electronic devices.
    </p><br><br>
</div>

<div class="container">
    <h2>Magnetics Design</h2><br>
    <p>
        Without knowing too much about electronics, one might think that magnetics design should have been a part of the power electronics design. 
        While this is partially true, the design of magnetic components, especially inductors and transformers, is a vast and advanced field of its own.
        Most switch mode power supplies require some kind of transformer/inductor to preserve, transfer and release energy at a required moment of operation.
        It is vital to consider the parasitic components of the transformer/inductor in order to avoid thermal runaway and minimise the losses of the power electronics design.
    </p>
</div>

<div id="services">
    <div class="container">
        <h1 class="sub-title">{{ hdrs[1] }}</h1>
        <div class="services-list">               
            {% for i in range(0, serviceLen) %}
                <div>
                    <img src="{{services['url'][i]}}">
                    <h2>{{services["head"][i]}}</h2>
                    <p>{{services["desc"][i]}}</p>
                    <a href="{{url_for(services['link'][i])}}">Learn more</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}